<h1>Transactions</h1>

<form [formGroup]="formFilter" class="mb-3">
    <label for="account">Account: </label>
    <app-account-dropdown formControlName="account"></app-account-dropdown>
</form>

<div class="flex flex-row-reverse ">
    <p-button class="p-2" label="New transaction" *ngIf="! selectedTransaction && ! selectedTransactionToDelete && selectedAccount" (onClick)="newTransaction()"
        severity="info"></p-button>
</div>

<app-monetary-transaction-list [account]="selectedAccount"></app-monetary-transaction-list>

<app-monetary-transaction-form *ngIf="selectedTransaction != null" [monetaryTransaction]="selectedTransaction" (onSave)="saveTransaction($event)"
    (onCancel)="cancelEdit()"></app-monetary-transaction-form>

<!-- <app-account-card *ngIf="selectedAccountToDelete != null" [account]="selectedAccountToDelete"
    (onDelete)="deleteAccount($event)" (onCancel)="cancelDelete()"></app-account-card> -->

<!-- <div class="flex flex-row-reverse ">
    <p-button class="p-2" label="New account" *ngIf="! selectedAccount && ! selectedAccountToDelete" (onClick)="newAccount()"
        severity="info"></p-button>
</div> -->