<h1>Transactions</h1>

<form [formGroup]="formFilter" class="mb-3">
    <label for="account">Account: </label>
    <app-account-dropdown formControlName="account"></app-account-dropdown>
</form>

<app-monetary-transaction-quick-input *ngIf="! selectedTransaction && ! selectedTransactionToDelete && selectedAccount"></app-monetary-transaction-quick-input>

<div class="flex flex-row-reverse ">
    <button pButton  class="p-2" label="New transaction" *ngIf="! selectedTransaction && ! selectedTransactionToDelete && selectedAccount" (onClick)="newTransaction()"
        severity="info" #newButton></button>
</div>



<app-monetary-transaction-list [navigationEnabled]="selectedTransaction == null && selectedTransactionToDelete == null"  [monetaryTransactions]="monetaryTransactions"
(onDeleted)="deleteTransactionSelected($event)" (onSelected)="selectTransaction($event)"></app-monetary-transaction-list>

<app-monetary-transaction-form *ngIf="selectedTransaction != null" [monetaryTransaction]="selectedTransaction" (onSave)="saveTransaction($event)"
    (onCancel)="cancelEdit()"></app-monetary-transaction-form>

<app-monetary-transaction-card *ngIf="selectedTransactionToDelete != null" [monetaryTransaction]="selectedTransactionToDelete"
    (onDelete)="deleteTransaction($event)" (onCancel)="cancelDelete()"></app-monetary-transaction-card>
