<p-table [value]="categories" styleClass="p-datatable-gridlines p-datatable-striped"
    [tableStyle]="{ 'min-width': '50rem' }" [paginator]="true" [rows]="5" [rowsPerPageOptions]="[5, 10, 20]">
    <ng-template pTemplate="header">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-category>

        @if(category == rowCategory) {
        <tr style="background: #bed5fa; font-weight: bold">
            <td>{{ category.id }}</td>
            <td>{{ category.name }}</td>
            <td><p-button icon="pi pi-file-edit" (onClick)="edit(category)"></p-button>
                <p-button icon="pi pi-trash" (onClick)="delete(category)"></p-button>
            </td>
        </tr>
        } @else {
        <tr>
            <td>{{ category.id }}</td>
            <td>{{ category.name }}</td>
            <td><p-button icon="pi pi-file-edit" (onClick)="edit(category)"></p-button>
                <p-button icon="pi pi-trash" (onClick)="delete(category)"></p-button>
            </td>
        </tr>
        }
    </ng-template>
</p-table>